.my_nav{
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background:rgb(196, 196, 196);
  box-shadow: 0px 15px 30px 5px rgb(196, 196, 196);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.my_nav_li{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.my_nav_li > li{
  list-style-type: none;
  margin-right: 10px;
}
.my_nav_li > li > a{
  text-decoration: none;
}
.my_nav_li :first-child>.first_ref{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  padding: .2em .7em;
  font-size: larger;
  font-weight: bolder;
  color: rgb(231, 21, 21);
}
.my_nav_li :first-child>.first_ref>span{
  margin-left: 3px;
}
.purchase_block{
  display: flex;
  margin: 0 10px 0 auto;
}
.purchase_block > .purchase_btn>.img_icon{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 37px;
  height: 37px;
  background: url(../../../img/TIME/icon/purchase_bag.png) no-repeat center / cover;
}
.purchase_block >.purchase_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .4em .5em;
}
.purchase_block >.purchase_btn >.img_icon >.bought{
  margin-bottom: 5px;
}
.search_block{
  margin: 0 1.3em 0 0;
}
.my_nav > .search_block >a.search{
  padding: .5em 1em;
  color: rgb(97, 27, 163);
}
