@import url('bootstrap.css');
@import url('bootstrap-reboot.css');

nav{
  min-width: 486px;
  min-height: 58px;
}
.navi{
  background-color: rgb(16, 73, 128);
  min-height: 58px;
}
a:active{
  color: white;
}
.round{
  width: 15px; 
  height: 15px;
  border-radius: 50%;
}
.head_line,
.med_cont,
.bot_cont{
  background-color: white;
  min-width: 615px;
}
.left_head_line,
.center_head_line{
  font-size: 15px;
}
.left_head_line,
.center_head_line{
  min-width: 200px;
}
.right_head_line{
  min-width: 200px;
}
.custom-file-label::after{
  font-weight: 500;
}
.card{
  width: 32%;
  min-width: 317px;
}
.circle_t{
  height: 17px;
  padding-top: 1px;
  background-color: rgb(6, 124, 46);
}
  