/* /////////////////////////////////////////////////////////////////// VIEW CARD */
.block_info_card{
  margin-top: 10em;
}
.info_card_watch, .view_card_watch, .accessory_block, .accessory_view_card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.view_card_watch{
  width: 31em;
  height: 24.094em;
}
.img_card_watch{
  /* width: 24.094em;
  height: 24.094em; */
  cursor: pointer;
}
.img_card_watch:hover{
  position: relative;
  width: 30em;
  height: 30em;
  transition: all .7s ease .3s;
}
.img_brand_logo{
  position: relative;
  /* width: 3.750em;
  height: 3.750em; */
  align-self: flex-start;
  left: -6.5em;
  z-index: 1;
}
/* .amazfit_logo{
  background: url(../img/TIME/watch/Brand_logo/samsung_small.jpg) no-repeat center / contain;
} */

/* /////////////////////////////////////////////////////////////////// INFO CARD */
.main_info_card{
  width: 32.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brand_title{
  font-size: 1.3em;
  margin-bottom: .5em;
}
.brand_price_model{
  margin-bottom: .5em;
  margin-left: 1em;
  font-size: 1.2em;
  font-weight: 700;
}
.specification{
  margin: .7em 0 .5em 0;
}
.info_card_watch >.main_info_card >.btn_buy{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(180, 180, 180, 0.808) 100%);
}
.info_card_watch >.main_info_card >.btn_buy >.button_buy{
  margin: 0 10px 0 0;
  color: rgb(38, 121, 38);
  font-size: larger;
  padding: .6em 1.6em;
}
.info_card_watch >.main_info_card >.btn_buy >a.button_glass{
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to left, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to left, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to left, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to left, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
}
.title_sp{
  margin-bottom: .3em; 
  font-weight: 500;
}

/* /////////////////////////////////////////////////////////////////// ACCESSORY CARD */
.info_card_watch >.main_info_card >.accessory_block >.main_info_accessory >.btn_buy >a.button_buy{
  padding: .250em .7em;
  font-size: 1em;
  color: rgb(38, 121, 38);
}
.img_accessory{
  /* width: 10em;
  height: 10em; */
  cursor: pointer;
}
/* .fitbit_blaze{
  background: url(../img/TIME/watch/Accessory/milanskiy-setchatyy-remeshok-dlya-chasov-fitbit-blaze-black.jpg) no-repeat center / contain;
} */
.brand_title_accessory{
  margin-bottom: .2em;
}
.main_info_accessory{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand_price_accessory{
  align-self: flex-end;
  margin: 0 1em .3em 0;
  font-weight: 700;
}