@import url('bootstrap.css');
@import url('bootstrap-reboot.css');

nav{
  min-width: 486px;
  min-height: 58px;
}
.navi{
  background-color: rgb(16, 73, 128);
  min-height: 58px;
}
a:active{
  color: white;
}
.head_line{
  background-color: white;
}
.chng{
  background-color: rgb(88, 88, 88);
  font-size: 15px;
  border-color: grey;
}
.chng:hover{
  background-color: grey;
  border-color: black;
}