body{
  overflow: auto;
  margin: 0;
  padding: 0;
}
.nav{
  width: 100vw;
  height: 30vh;
  background: url(../img/background/tekstura.jpg) no-repeat center;
  background-size: 100%;
  background-clip: padding-box;
}
.upElement{
  /* width: 100vw; */
  height: 9vh;
  /* padding: 0 20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  color: white;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.26);
}
.face{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 2em;
  cursor: pointer;
}
.firm_text{
  word-spacing: -2px;
}
.inp_text{
  margin-left: auto;
  font-size: .7em;
}
.search{
  margin-right: 10px;
  margin-left: 3px;
  font-size: .7em;
}
.cenElement{
  width: 100vw;
  /* height: 50em; */
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding: 5px; */
  background: url(../img/background/metal-lines.jpg) no-repeat center;
  background-size: cover;
  /* background-clip: padding-box; */
}
.info_cont{
  width: 30em;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: white;
  align-self: flex-start;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info_company{
  padding: 0 10px;
  background:rgb(28, 31, 68);
  color: white;
  border-radius: 5%;
}
.info_company > p{
  font: 1.3em sans-serif;
}
.card_cont{
  width: 50em;
  height: 750px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background: rgba(255, 192, 203, 0.253); */
  background: url(../img/background/steel_shavings.jpg) no-repeat center;
  background-size: cover;
  border: 1px solid white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: auto;
}
.card{
  width: 200px;
  /* height: 365px; */
  margin: 10px;
  /* padding-bottom: 3px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 8px;
  background: white;
}
.art_num{
  width: 193px;
  padding: 2px 0 2px 5px;
  color: white;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* margin-bottom: 3px; */
  border: 1px solid black;
  background:url(../img/background/abstract-texture.jpg) no-repeat center;
  background-size: cover;
}
.card_img{
  width: 192px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-left: 4px solid rgba(128, 0, 0, 0.801);
  border-right: 4px solid rgba(3, 20, 71, 0.767);
}
.img{
  width: 140px;
  height: 246px;
  margin-bottom: 3px;
  background: url(../img/Taps/doblo.jpg) no-repeat center;
  background-size: contain;
  background-clip: padding-box;
  /* border: 1px solid red; */
}
.text_card{
  width: 193px;
  padding: 2px 0 2px 5px;
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background:url(../img/background/abstract-texture.jpg) no-repeat center;
  background-size: cover;
}
.to_buy{
  width: 192px;
  padding: 5px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(228, 255, 77);
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0px -5px 20px 5px rgb(255, 102, 0);
}
.add_buy, .add_info{
  width: 5.5em;
  height: 2em;
  /* padding: 2px; */
  border-radius: 1em;
  background: url(../img/background/metal-lines.jpg) no-repeat center;
  background-size: cover;
  font-weight: bolder;
  font-size: 1em;
  cursor: pointer;
  outline:none;
}
.add_buy{
  color: #FF4040;
}
.add_info{
  color: #00cc00;
}
