.upBlock{
  background: rgb(210, 179, 245);
}
.myNav{
  background: rgba(255, 255, 255, 0.411);
}
.upElement{
  height: 300px;
  /*margin-top: 4%;*/
  background: url(../img/kosmos.jpg) no-repeat center;
  background-size: cover;
} 
